TEMPORAL_ADDRESS={{ temporal_address }}
NODE_ID={{ node_id }}
SHARD_NAME={{ shard_name | default('') }}
INIT_SYSTEM=systemd
{% if mysql_dsn is defined %}MYSQL_DSN={{ mysql_dsn }}
{% endif %}REGION_ID={{ region_id }}
CLUSTER_ID={{ cluster_id }}
NODE_ROLE={{ node_role }}
SERVICE_NAME=node-agent
METRICS_ADDR=:9100
