TEMPORAL_ADDRESS={{ temporal_address }}
NODE_ID={{ node_id }}
SHARD_NAME={{ shard_name | default('') }}
INIT_SYSTEM=systemd
REGION_ID={{ region_id }}
CLUSTER_ID={{ cluster_id }}
NODE_ROLE={{ node_role }}
SERVICE_NAME=node-agent
METRICS_ADDR=:9100
{% if node_agent_mysql_dsn is defined %}
MYSQL_DSN={{ node_agent_mysql_dsn }}
{% endif %}
{% if node_agent_nginx_config_dir is defined %}
NGINX_CONFIG_DIR={{ node_agent_nginx_config_dir }}
WEB_STORAGE_DIR={{ node_agent_web_storage_dir }}
CERT_DIR={{ node_agent_cert_dir }}
SSH_CONFIG_DIR={{ node_agent_ssh_config_dir }}
CORE_API_URL={{ core_api_url }}
CORE_API_TOKEN={{ core_api_token }}
{% endif %}
{% if node_agent_valkey_config_dir is defined %}
VALKEY_CONFIG_DIR={{ node_agent_valkey_config_dir }}
VALKEY_DATA_DIR={{ node_agent_valkey_data_dir }}
{% endif %}
{% if node_agent_rgw_endpoint is defined %}
RGW_ENDPOINT={{ node_agent_rgw_endpoint }}
{% endif %}
