# TLS overlay for Temporal mTLS.
# Usage: docker compose -f docker-compose.yml -f docker-compose.tls.yml --profile platform up -d
#
# Generate certs first: just gen-certs

services:
  temporal:
    environment:
      - TEMPORAL_TLS_SERVER_CERT=/etc/temporal/certs/server.pem
      - TEMPORAL_TLS_SERVER_KEY=/etc/temporal/certs/server.key
      - TEMPORAL_TLS_CLIENT_CA=/etc/temporal/certs/ca.pem
      - TEMPORAL_TLS_REQUIRE_CLIENT_AUTH=true
      - TEMPORAL_TLS_FRONTEND_CERT=/etc/temporal/certs/server.pem
      - TEMPORAL_TLS_FRONTEND_KEY=/etc/temporal/certs/server.key
      - TEMPORAL_TLS_FRONTEND_CLIENT_CA=/etc/temporal/certs/ca.pem
      - TEMPORAL_TLS_INTERNODE_SERVER_NAME=temporal
    volumes:
      - ./certs/temporal:/etc/temporal/certs:ro

  temporal-ui:
    environment:
      - TEMPORAL_TLS_CA_PATH=/etc/temporal/certs/ca.pem
      - TEMPORAL_TLS_CERT_PATH=/etc/temporal/certs/client.pem
      - TEMPORAL_TLS_KEY_PATH=/etc/temporal/certs/client.key
      - TEMPORAL_TLS_ENABLE_HOST_VERIFICATION=true
      - TEMPORAL_TLS_SERVER_NAME=temporal
    volumes:
      - ./certs/temporal:/etc/temporal/certs:ro

  core-api:
    environment:
      - TEMPORAL_TLS_CERT=/etc/temporal/certs/client.pem
      - TEMPORAL_TLS_KEY=/etc/temporal/certs/client.key
      - TEMPORAL_TLS_CA_CERT=/etc/temporal/certs/ca.pem
    volumes:
      - ./certs/temporal:/etc/temporal/certs:ro

  worker:
    environment:
      - TEMPORAL_TLS_CERT=/etc/temporal/certs/client.pem
      - TEMPORAL_TLS_KEY=/etc/temporal/certs/client.key
      - TEMPORAL_TLS_CA_CERT=/etc/temporal/certs/ca.pem
    volumes:
      - ./certs/temporal:/etc/temporal/certs:ro
