apiVersion: apps/v1
kind: Deployment
metadata:
  name: haproxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: haproxy
  template:
    metadata:
      labels:
        app: haproxy
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      initContainers:
        - name: init-maps
          image: haproxy:2.9
          command: ["sh", "-c", "touch /var/lib/haproxy/maps/fqdn-to-shard.map"]
          volumeMounts:
            - name: maps
              mountPath: /var/lib/haproxy/maps
      containers:
        - name: haproxy
          image: haproxy:2.9
          securityContext:
            runAsUser: 0
          ports:
            - containerPort: 80
            - containerPort: 8404
            - containerPort: 9999
          volumeMounts:
            - name: config
              mountPath: /usr/local/etc/haproxy/haproxy.cfg
              subPath: haproxy.cfg
            - name: maps
              mountPath: /var/lib/haproxy/maps
            - name: run
              mountPath: /var/run/haproxy
      volumes:
        - name: config
          configMap:
            name: haproxy-config
        - name: maps
          emptyDir: {}
        - name: run
          emptyDir:
            medium: Memory
