apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    hostNetwork: true
    ports:
      web:
        port: 80
      websecure:
        port: 443
    tlsStore:
      default:
        defaultCertificate:
          secretName: traefik-default-cert
