<?php
$cfg['blowfish_secret'] = '{{ lookup("password", "credentials/phpmyadmin_blowfish_secret chars=ascii_letters,digits length=32") }}';
$cfg['Servers'][1]['auth_type'] = 'signon';
$cfg['Servers'][1]['SignonSession'] = 'SignonSession';
$cfg['Servers'][1]['SignonURL'] = '/auth/unauthorized';
$cfg['Servers'][1]['host'] = '';
$cfg['Servers'][1]['port'] = '';
$cfg['TempDir'] = '/tmp/phpmyadmin';
