CORE_API_URL={{ core_api_url }}
CORE_API_TOKEN={{ core_api_token }}
LISTEN_ADDR=127.0.0.1:4180
PHPMYADMIN_URL=http://127.0.0.1:8080
COOKIE_SECRET=CHANGE_ME_generate_with_openssl_rand_base64_24
SESSION_DIR=/tmp/dbadmin-sessions
