[Unit]
Description=CloudBeaver DB Admin
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker rm -f cloudbeaver
ExecStart=/usr/bin/docker run --rm --name cloudbeaver \
  -p 8978:8978 \
  -v /opt/cloudbeaver/workspace:/opt/cloudbeaver/workspace \
  -v /opt/cloudbeaver/conf/cloudbeaver.conf:/opt/cloudbeaver/conf/cloudbeaver.conf:ro \
  -v /opt/cloudbeaver/conf/initial-data.conf:/opt/cloudbeaver/conf/initial-data.conf:ro \
  dbeaver/cloudbeaver:latest
ExecStop=/usr/bin/docker stop cloudbeaver
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
