[server]
hostname = "{{ stalwart_hostname }}"

[server.listener.smtp]
bind = ["[::]:25"]
protocol = "smtp"

[server.listener.submission]
bind = ["[::]:587"]
protocol = "smtp"

[server.listener.imap]
bind = ["[::]:143"]
protocol = "imap"

[server.listener.http]
bind = ["[::]:8080"]
protocol = "http"

[server.listener.sieve]
bind = ["[::]:4190"]
protocol = "managesieve"

[storage]
data = "rocksdb"
blob = "rocksdb"
fts = "rocksdb"
lookup = "rocksdb"
directory = "internal"

[store.rocksdb]
type = "rocksdb"
path = "/opt/stalwart-mail/data"

[directory.internal]
type = "internal"
store = "rocksdb"

[authentication.fallback-admin]
user = "admin"
secret = "{{ stalwart_admin_password }}"

[authentication.fallback-admin.permissions]
role = "admin"
